<a href="/" class="logo">
    <div class="logo__slogan">
        części, maszyny i akcesoria rolnicze
    </div>
    <div class="logo__image">
		<img src="{{image('images/logo.png')}}" alt="" height="30px">
    </div>
</a>
