{#
// inputs:
#}

{% set vehicles = data('account-vehicles.json') %}

{% from '/macros/controls.twig' import input_radio %}

<div class="search">
	<form method="get" action="/shop" class="search__body" onsubmit="handleEmptySearch(event, this)">
		<div class="search__shadow"></div>
		<input class="search__input" type="text" name="phraze" placeholder="Wpisz nazwę szukanego przedmiotu">
		<button
			class="search__button search__button--start" type="button" disabled>
			<img class="search__button-icon" src="{{image('images/tractor.png')}}" alt="" height="30px">
		</button>
		<button class="search__button search__button--end" type="submit">
			<span class="search__button-icon">
				<icon class="user-product-search__icon fas fa-search"></icon>
			</span>
		</button>
		<div class="search__box"></div>
		<div class="search__decor">
			<div class="search__decor-start"></div>
			<div class="search__decor-end"></div>
		</div>

		<div class="search__dropdown search__dropdown--suggestions suggestions">
			<div class="suggestions__group">
				<div class="suggestions__group-title">Wyniki</div>
				<div class="suggestions__group-content"></div>
			</div>
		</div>
	</form>
</div>
