{% set global_page_title = 'Account Orders — Red Parts' %}
{% set global_page_description = '' %}
{% set global_current_account_page = 'account-orders' %}

{% extends '/layouts/account.twig' %}

{% block account_body %}
    <div class="card">
        <div class="card-header">
            <h5>Historia Zamówień</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-table">
            <div class="table-responsive-sm">
                <table>
                    <thead>
                    <tr>
                        <th>Nr Zamówienia</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>Koszt</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td><a href="/account-order-details/{{order.id}}">#{{ order.id }}</a></td>
                            <td>{{ order.createdAt|date('d-m-Y') }}</td>
                            <td>W REALIZACJI</td>
                            <td>{{order.items|reduce((sum, item) => sum + (item.product.price * item.amount)) }} zł</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-divider"></div>
        <div class="card-footer">
            {# {% include '/components/pagination.twig' %} #}
        </div>
    </div>
{% endblock %}