{% set global_page_title = 'Edycja Adresu — Agroserwis' %}
{% set global_page_description = '' %}
{% set global_current_account_page = 'account-edit-address' %}

{% from '/macros/controls.twig' import input_check %}

{% extends '/layouts/account.twig' %}

{% block account_body %}
    <div class="card">
        <div class="card-header">
            <h5>Edytuj Adres</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-body card-body--padding--2">
            <div class="row no-gutters">
                <form action="/account-submit-address" method="post" class="col-12 col-lg-10 col-xl-8" onSubmit="validateForm(this, event)">
					<div class="form-group">
						<label for="address-country">Kraj</label>
						<select id="address-country" class="form-control form-control-select2" name="country" data-validate="required">
							<option value="">--Wybierz Kraj--</option>
							<option value="Niemcy" {% if app.user.country == 'Niemcy' %}selected{% endif %}>Niemcy</option>
							<option value="Polska" {% if app.user.country == 'Polska' %}selected{% endif %}>Polska</option>
							<option value="Wielka Brytania" {% if app.user.country == 'Wielka Brytania' %}selected{% endif %}>Wielka Brytania</option>
						</select>
					</div>
                    <div class="form-group">
                        <label for="address-city">Miasto i kod pocztowy</label>
                        <input
							id="address-city"
							name="city"
                            type="text"
                            class="form-control"
                            placeholder="Miasto i kod pocztowy"
							value="{{app.user.city}}"
							data-validate="required,minLength-10"
                        >
                    </div>
                    <div class="form-group">
                        <label for="address-street">Ulica i numer budynku</label>
                        <input
							id="address-street"
							name="street"
                            type="text"
                            class="form-control"
                            placeholder="Ulica i numer budynku"
							value="{{app.user.street}}"
							data-validate="required,minLength-10"
                        >
                    </div>
                    <div class="form-group mb-0 pt-3 mt-3">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}