{% set global_page_title = 'Edycja Hasła — HervestSolutions' %}
{% set global_page_description = '' %}
{% set global_current_account_page = 'account-password' %}

{% extends '/layouts/account.twig' %}

{% block account_body %}
    <div class="card">
        <div class="card-header">
            <h5>Zmień Hasło</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-body card-body--padding--2">
            <div class="row no-gutters">
                <form action="/account-submit-password" method="post"  onsubmit="validateForm(this, event)" class="col-12 col-lg-7 col-xl-6">
                    <div class="form-group">
                        <label for="password-current">Obecne Hasło</label>
                        <input name="currentPassword" type="password" class="form-control" id="password-current" placeholder="Obecne Hasło" data-validate="required">
                    </div>
                    <div class="form-group">
                        <label for="password-new">Nowe Hasło</label>
                        <input name="newPassword" type="password" class="form-control" id="password-new" placeholder="Nowe Hasło" data-validate="required,minLength-7">
                    </div>
                    <div class="form-group">
                        <label for="password-confirm">Powtórz Hasło</label>
                        <input name="repeatPassword" type="password" class="form-control" id="password-confirm" placeholder="Powtórz Hasło" data-validate="compare-newPassword">
                    </div>

                    <div class="form-group mb-0">
                        <button type="submit" class="btn btn-primary mt-3">Zmień</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}