{% set global_page_title = 'Shopping Cart — Red Parts' %}
{% set global_page_description = '' %}

{% extends '/layouts/default.twig' %}

{% block site_body %}
  {% include '/blocks/block-header.twig' with {
    inputs: {
      title: 'Koszyk'
    }
  } %}

  <div class="block">
    <div id='cart-container' class="container">
	  	{% include '/components/cart-items.twig' %}
    </div>
  </div>

  {% include '/blocks/block-space.twig' with {
    inputs: {
      layout: 'before-footer'
    }
  } %}

<script type="text/javascript">
	const handleCartItemAmountChange = (input)=>{
		const value = $(input).val();
		if(isNaN(parseInt(value))) return;
		callOnce(()=>cartAddProduct(input,$(input).data('product-id'), 'INPUT_SET'));
	};
	const callOnce = (func, within=300, timerId=null) =>{
		window.callOnceTimers = window.callOnceTimers || {};
		if (timerId == null) 
			timerId = func;
		var timer = window.callOnceTimers[timerId];
		clearTimeout(timer);
		timer = setTimeout(() => func(), within);
		window.callOnceTimers[timerId] = timer;
	};
</script>

{% endblock %}
