{% set global_page_title = 'Kontakt — Agroserwis' %}
{% set global_page_description = '' %}

{% extends '/layouts/default.twig' %}

{% block site_body %}
    {% include '/blocks/block-map.twig' %}

    {% include '/blocks/block-header.twig' with {inputs: {
        title: 'Napisz Do Nas',
    }} %}

    <div class="block">
        <div class="container container--max--lg">
            <div class="card">
                <div class="card-body card-body--padding--2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                            <div class="mr-1">
                                <h4 class="contact-us__header card-title">Nasz Adres</h4>

                                <div class="contact-us__address">
                                    <p>
                                        ul. Oczki Wojciecha 21, Białystok 15-166 PL<br>
                                        Email: przykładowy@example.com<br>
                                        Tel: 88 835 32732
                                    </p>

                                    <p>
                                        <strong>Godziny Otwarcia</strong><br>
                                        Poniedziałek - Piątek: 8:00-16:00<br>
                                        Sobota: 8:00-14:00<br>
                                        Niedziela: Nieczynne
                                    </p>

                                    <p>

                                        <strong>Opis</strong><br>
                                        Potrzebujesz naszej pomocy lub masz pytania? Nie wahaj się skontaktować! Proszę wypełnij ten formularz, a my postaramy się odpowiedzieć najszybciej, jak to możliwe. Jesteśmy tu, aby Ci pomóc.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="ml-1">
                                <h4 class="contact-us__header card-title">Skontaktuj się z nami</h4>

                                <form onsubmit="return false">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="form-name">Twoje Imię</label>
                                            <input type="text" id="form-name" class="form-control" placeholder="Twoje Imię">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="form-email">Email</label>
                                            <input type="email" id="form-email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-subject">Temat</label>
                                        <input type="text" id="form-subject" class="form-control" placeholder="Temat">
                                    </div>
                                    <div class="form-group">
                                        <label for="form-message">Wiadomość</label>
                                        <textarea id="form-message" class="form-control" rows="4"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary" style="position: relative;">
										<div class="tooltip tooltip-bottom" style="color: #333;"><strong>Formularz kontaktowy tymczasowo niedostępny</strong></div>
										Wyślij Wiadomość
									</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '/blocks/block-space.twig' with {inputs: {layout: 'before-footer'}} %}
{% endblock %}
