{% from '/macros/controls.twig' import input_check %}

<div class="block">
	<div class="container container--max--lg">
		<div class="row">
			<div class="col-md-12 d-flex mt-4 mt-md-0">
				<div class="card flex-grow-1 mb-0 ml-0 ml-lg-3 mr-0 mr-lg-4">
					<div class="card-body card-body--padding--2">
						<h3 class="card-title">Nowy Klient</h3>
						{% if registerMessage is defined %}
							<h5 class="alert alert-danger">{{registerMessage}}</h5>
						{% endif %}
						<form action="register" method="POST">
							<div class="form-group">
								<label for="signup-first-name">Imie</label>
								<input name="firstName" id="signup-first-name" type="text" class="form-control" placeholder="Imie">
							</div>
							<div class="form-group">
								<label for="signup-lastName">Nazwisko</label>
								<input name="lastName" id="signup-last-name" type="text" class="form-control" placeholder="Nazwisko">
							</div>
							<div class="form-group">
								<label for="signup-address">Adres</label>
								<input name="address" id="signup-address" type="text" class="form-control" placeholder="Adres">
							</div>
							<div class="form-group">
								<label for="signup-phone">Telefon</label>
								<input name="phone" id="signup-phone" type="tel" class="form-control" placeholder="Telefon">
							</div>
							<div class="form-group">
								<label for="signup-email">Adres email</label>
								<input name="email" id="signup-email" type="email" class="form-control" placeholder="przykładowy@email.com">
							</div>
							<div class="form-group">
								<label for="signup-password">
									<i onclick="generatePassword()" class="far fa-lightbulb"></i>
									Hasło
								</label>
								<input name="password" id="signup-password" type="password" class="form-control" placeholder="Hasło">
							</div>
							<div class="form-group">
								<label for="signup-confirm">Powtórz hasło</label>
								<input id="signup-confirm" type="password" class="form-control" placeholder="Hasło">
							</div>
							<div class="form-group mb-0">
								<button type="submit" class="btn btn-primary mt-3">Utwórz</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
