{#
// inputs:
#}

{% set theme = data('theme.json') %}

<div class="site-footer__widget footer-contacts">
    <h5 class="footer-contacts__title">Skontaktuj się z nami</h5>

    <div class="footer-contacts__text">
		Masz pytanie lub potrzebujesz pomocy dotyczącej produktu? Napisz lub zadzwoń, postaramy się pomóc.
    </div>

    <address class="footer-contacts__contacts">
        <dl>
            <dt>Numer Telefonu</dt>
            {% for item in theme.contacts.phone %}
                <dd>{{ item }}</dd>
            {% endfor %}
        </dl>
        <dl>
            <dt>Adres Email</dt>
            {% for item in theme.contacts.email %}
                <dd>{{ item }}</dd>
            {% endfor %}
        </dl>
        <dl>
            <dt>Nasza Lokalizacja</dt>
            {% for item in theme.contacts.address %}
                <dd>{{ item }}</dd>
            {% endfor %}
        </dl>
        <dl>
            <dt>Godziny Pracy</dt>
            {% for item in theme.contacts.hours %}
                <dd>{{ item }}</dd>
            {% endfor %}
        </dl>
    </address>
</div>
