{#
// inputs:
#}

{% set theme = data('theme.json') %}

<div class="site-footer">
    {% include '/components/decor.twig' with {inputs: {
        type: 'bottom',
        classes: 'site-footer__decor',
    }} %}
    <div class="site-footer__widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 col-xl-4">
                    {% include '/footer/contacts.twig' %}
                </div>
                <div class="col-12 col-md-2 col-xl-2">
                    {% include '/footer/links.twig' with {inputs: {
                        title: 'Informacje',
                        links: [
                            {'title': 'O nas'},
                            {'title': 'Dostawa'},

                            {'title': 'Producenci'},
                            {'title': 'Kontakt'},

                            {'title': 'Lokalizacja'},
                        ],
                    }} %}
                </div>
                <div class="col-0 col-md-0 col-xl-2">
                    {# {% include '/footer/links.twig' with {inputs: {
                        title: 'My Account',
                        links: [
                            {'title': 'Store Location'},
                            {'title': 'Order History'},
                            {'title': 'Wish List'},
                            {'title': 'Newsletter'},
                            {'title': 'Specials'},
                            {'title': 'Gift Certificates'},
                            {'title': 'Affiliate'},
                        ],
                    }} %} #}
                </div>
                <div class="col-12 col-md-12 col-xl-4">
                    {% include '/footer/newsletter.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="site-footer__bottom-row">
                <div class="site-footer__copyright">
                    <!-- copyright -->
                    Powered by HTML — Designed by <a href="{{ theme.author.profile_url }}" target="_blank">{{ theme.author.name }}</a>
                    <!-- copyright / end -->
                </div>
                {# <div class="site-footer__payments">
                    <img src="images/payments.png" alt="">
                </div> #}
            </div>
        </div>
    </div>
</div>
