{#
// inputs:
#}

<div class="site-footer__widget footer-newsletter">
    <h5 class="footer-newsletter__title">Newsletter</h5>
    <div class="footer-newsletter__text">
		Podaj poniżej swój adres email aby subskrybować nasz newsletter i dostawać informacje o najnowszych zniżach i ofertach specjalnych.
    </div>

    <form class="footer-newsletter__form" onsubmit="return false">
        <label class="sr-only" for="footer-newsletter-address">Adres Email</label>
        <input type="text" class="footer-newsletter__form-input" id="footer-newsletter-address" placeholder="Adres Email...">

        <button class="footer-newsletter__form-button" onclick="$(this).find('.tooltip').addClass('show')">
			<div class="tooltip tooltip-bottom tooltip-bottom-newsletter">Subskrybcja tymczasowo niedostępna</div>
			Subskrybuj
		</button>
    </form>

    <div class="footer-newsletter__text footer-newsletter__text--social">
        Znajdź nas w sieciach społecznościowych
    </div>

    <div class="footer-newsletter__social-links social-links">
        <ul class="social-links__list">
            <li class="social-links__item social-links__item--facebook"><a target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-links__item social-links__item--twitter"><a target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li class="social-links__item social-links__item--youtube"><a target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li class="social-links__item social-links__item--instagram"><a target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="social-links__item social-links__item--rss"><a target="_blank"><i class="fas fa-rss"></i></a></li>
        </ul>
    </div>
</div>
