<div class="block block-sale">
    <div class="block-sale__content">
        <div class="block-sale__header">
            <div class="block-sale__title">Uwaga! Strefa Ofert</div>
            <div class="block-sale__subtitle">Pośpiesz się! Upusty nawet do 70%</div>
            <div class="block-sale__timer">
                {% include '/components/timer.twig' %}
            </div>
            <div class="block-sale__controls">
                <div class="block-sale__link"><a href="/shop?promotion=true">Sprawdź oferty promocyjne</a></div>
                {% include '/components/decor.twig' with {inputs: {
                    type: 'center',
                    classes: 'block-sale__header-decor',
                }} %}
            </div>
        </div>
        <div class="block-sale__body">
            {% include '/components/decor.twig' with {inputs: {
                type: 'bottom',
                classes: 'block-sale__body-decor',
            }} %}
            <div
                class="block-sale__image"
                style="background-image: url('{{ image('images/big/many-parts.jpg', {size: [1903, 640]}) }}');"
            ></div>
        </div>
    </div>
</div>
