{#
// inputs:
#}

<div class="block-banners block">
    <div class="container">
        <div class="block-banners__list">
            <a href="" class="block-banners__item block-banners__item--style--one">
                <span class="block-banners__item-image"><img src="{{image('images/layout/oil.jpg')}}" alt=""></span>
                <span class="block-banners__item-image block-banners__item-image--blur"><img src="{{image('images/layout/oil.jpg')}}" alt=""></span>
                <span class="block-banners__item-title">Oleje</span>
                <span class="block-banners__item-details">
                    Syntetyczne oleje silnikowe z darmową wysyłką<br>
                    Gwarancja beztarciowej pracy
                </span>
                <span class="block-banners__item-button btn btn-primary btn-sm">
                    Sprawdź
                </span>
            </a>

            <a href="" class="block-banners__item block-banners__item--style--two">
                <span class="block-banners__item-image"><img src="{{image('images/layout/grain.jpg')}}" alt=""></span>
                <span class="block-banners__item-image block-banners__item-image--blur"><img src="{{image('images/layout/grain.jpg')}}" alt=""></span>
                <span class="block-banners__item-title">Oszczędź do 100 zł</span>
                <span class="block-banners__item-details">
                    Najnowsze modele wilgotnościmierzy<br>
                    Lepsza dokładność
                </span>
                <span class="block-banners__item-button btn btn-primary btn-sm">
                    Spardź
                </span>
            </a>
        </div>
    </div>
</div>
