{#
// inputs:
#}

<div class="block-map block">
    <div class="block-map__body">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2392.715615315041!2d23.208178676997562!3d53.15119818930671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ffe88d3d8e367%3A0x1f68af312b03afd!2sWojciecha%20Oczki%2021%2C%2015-166%20Bia%C5%82ystok!5e0!3m2!1spl!2spl!4v1695143306844!5m2!1spl!2spl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
