.header {
  border-bottom: 2px solid white;
}
.btn-green {
  background-color: #006847;
  color: white;
  height: 30px;
  width: 100px;
}
/* ADMIN SECTION */
.admin-section__csv-controls {
  height: 0;
  transform: scale(1, 0);
  transition: transform;
}
.section--open {
  height: auto;
  transform: scale(1, 1);
  transition: transform;
}
/* CREATING ACCOUNT FOR CUSTOMER */
.far.fa-lightbulb {
  cursor: pointer;
  color: #006847;
  padding: 0 5px;
  font-size: 25px;
}
.far.fa-lightbulb:hover {
  color: orange;
}
.form-group.form-group-password {
  position: relative;
}
.password-eye-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, 50%);
}
/* CUSTOMERS TABLE FOR ADMIN */
.customer-search__icon {
  margin-left: 5px;
  color: #006847;
}
.customer-search__icon:hover {
  color: orange;
}
.order-product-search__body {
  position: relative;
}
/* ORDERING PRODUCTS FOR CUSTOMER BY ADMIN */
.order-product-search__dropdown {
  padding: 0;
  height: 0;
  width: 100%;
  color: #262626;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1.5px;
  opacity: 0;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  visibility: hidden;
}

.order-product-search__dropdown--open {
  height: auto;
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* PRODUCT SEARCH RESULTS */
.search-result {
  position: relative;
}
.search-result__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}
.search-result__link:hover {
  background-color: #d6fff2;
}
.search-result__image {
  height: 40px;
}
.search-result__name {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.search-result__number {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.search-result__availability {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.search-result__availability-text {
  margin-right: 5px;
}
.search-result__price {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.add-to-cart-btn {
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translate(100%, -50%);
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  justify-content: center;
}
.add-to-cart-btn:focus {
  outline: 0;
}
.add-to-cart-btn__icon {
  color: #006847;
}
.add-to-cart-btn__icon:hover {
  color: orange;
}
/* DROPCART LOADER */
.dropcart__remove-loader {
  position: absolute;
}
.dropcart__remove-loader--hidden {
  display: none;
}
.snackbar {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  min-width: 300px;
  min-height: 50px;
  background-color: red;
  border-radius: 2px;
}
.snackbar--show {
  transform: translate(-50%, 200%);
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  background-color: rgba(255, 0, 0, 0.6);
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}
.snackbar__content {
  padding: 1em;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 9fr;
}
.snackbar__image {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  background-image: url(../images/error.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.snackbar__message {
  max-width: 80%;
  word-wrap: break-word;
  color: white;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
@-webkit-keyframes fadein {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 200%);
    opacity: 0.6;
  }
}

@keyframes fadein {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 200%);
    opacity: 0.6;
  }
}

@-webkit-keyframes fadeout {
  from {
    transform: translate(-50%, 200%);
    opacity: 0.6;
  }
  to {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    transform: translate(-50%, 200%);
    opacity: 0.6;
  }
  to {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
}

.product-card__addtocart-full {
  position: relative;
}
.product-card__addtocart-icon {
  position: relative;
}
.add-to-cart__spinner-border {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-110%, -50%);
}
.add-to-cart__spinner-border--show {
  display: block;
}
/* PRODUCT-EDITION */
.editable {
  position: relative;
  border: 0.5px dashed #006847;
  cursor: pointer;
  display: inline-block;
  min-width: 40px;
  min-height: 20px;
}
.editable:hover {
  border-color: orange;
}
.editable-icon {
  font-size: 15px;
  color: #006847;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 5px), -50%);
}
.editable:hover .editable-icon {
  color: orange;
}
.editable-input {
  border: none;
  outline: none;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  top: 0;
  font-style: italic;
  resize: none;
  word-wrap: break-word;
  word-break: break-all;
  font-family: inherit;
  font-size: 0.9em;
  color: inherit;
  text-align: inherit;
  padding: inherit;
  overflow: auto;
}

.remove-feature {
  cursor: pointer;
  color: red;
}

/* PRODUCT EDITION GALLERY */
.product-edition-gallery {
  grid-column: 1/3;
}
#modules {
  display: flex;
  align-items: center;
  background: #eefeef;
  min-height: 150px;
  margin: 0;
  z-index: 0;
}

#dropzone {
  display: flex;
  align-items: center;
  background: #eefeef;
  min-height: 150px;
  margin: 0;
  z-index: 0;
}

.active {
  outline: 1px solid #006847;
}

.hover {
  outline: 1px solid #006847;
}
.product-edition-gallery__image-container {
  position: relative;
  width: 20%;
  padding-top: 20%;
  margin: 2.5%;
  float: left;
}
.product-edition-gallery__image {
  position: absolute;
  width: 95%;
  height: 95%;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.product-edition-gallery .remove-image {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
  color: red;
  z-index: 2;
}
