.btn-green {
  background-color: #006847;
  color: white;
  height: 30px;
  width: 100px;
}
.admin-section__csv-controls {
  height: 0;
  transform: scale(1, 0);
  transition: transform;
}
.section--open {
  height: auto;
  transform: scale(1, 1);
  transition: transform;
}
.far.fa-lightbulb {
  cursor: pointer;
  color: #006847;
  padding: 0 5px;
  font-size: 25px;
}
.far.fa-lightbulb:hover {
  color: orange;
}
