<div class="admin-section">
	<h4 class="account-nav__title">Sekcja Admina</h4>

	<ul class="account-nav__list">
		<li class="account-nav__item" onclick="openCsvSection()">
			<a><i class="admin-section__arrow fas fa-chevron-right"></i>
			CSV</a>
		</li>
		<div class="admin-section__csv-controls">
			<li class="account-nav__item">
				<a href="/read-csv" class="">Odczytaj csv</a>
			</li>
			<form action="/upload-csv" method="post" enctype="multipart/form-data" class="d-flex justify-content-center mt-2">
				<label class="btn btn-sm btn-green mx-2">
					<input type="file" name="fileToUpload" id="fileToUpload" style="display: none;">
					<span>Wybierz plik</span>
				</label>
				<input class="btn btn-sm btn-green mx-2" type="submit" value="Wyślij csv" name="submit">
			</form>
		</div>
		<li class="account-nav__divider" role="presentation"></li>
	</ul>
</div>
