{% set cartItems = cart_getter_service.getCart().getCartItem() %}
{% if cartItems is not empty %}
	<a class="indicator__button">
		<span class="indicator__icon">
			{{ svg("cart-32.svg") }}
			<span class="indicator__counter">{{ cartItems | length }}</span>
		</span>
		<span class="indicator__title">Koszyk</span>
		<span class="indicator__value">{{ cartItems|reduce((sum, item) => sum + (item.product.price * item.amount)) }}
			zł</span>
	</a>
	<div class="indicator__content">
		{% include '/header/dropcart.twig' with {inputs: { cartItems: cartItems }} %}
	</div>
{% else %}
	<a class="indicator__button">
		<span class="indicator__icon">
			{{ svg("cart-32.svg") }}
		</span>
		<span class="indicator__title">Koszyk</span>
		<span class="indicator__value">Pusty</span>
	</a>
{% endif %}
