<div class="product-edition-gallery mt-4">
	<div class="card p-2">
		<span class="h5 p-2">Przenieś zdjęcia, które chcesz wyświetlać do pola po prawej stronie</span>
		<div class="row">
			<div class="col col-sm-6">
				<div id="modules" class="connectedSortable"></div>
			</div>


			<div class="col col-sm-6">
				<div id="dropzone" class="connectedSortable">
					<div class="product-edition-gallery__image-container card shadow"><img data-image-url="{{image(inputs.images)}}" class="product-edition-gallery__image" src="{{image(inputs.images)}}">
						<i class="remove-image fas fa-times"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col col-sm-8">
				<div class="form-group">
					<input type="URL" class="form-control" id="imageURL" placeholder="URL">
				</div>
			</div>
			<div class="col col-sm-4">

				<button class="product-edition-gallery__add-image btn btn-primary">Dodaj zdjęcie</button>
			</div>
		</div>

	</div>
</div>
