{% set global_page_title = 'Page Not Found — Red Parts' %}
{% set global_page_description = '' %}

{% extends '/layouts/default.twig' %}

{% block site_body %}
    {% include '/blocks/block-space.twig' with {inputs: {layout: 'spaceship-ledge-height'}} %}

    <div class="block">
        <div class="container">
            <div class="not-found">
                <div class="not-found__404">
                    Oops! Error 404
                </div>

                <div class="not-found__content">
                    <h1 class="not-found__title">Nie Znaleziono Strony</h1>

                    <p class="not-found__text">
                        Wyszukana przez Ciebie strona prawdopodobnie nie istnieje.<br>
                        Sprawdź czy wpisałeś poprawny adres strony.
                    </p>

                    <p class="not-found__text">
                        Lub kliknij przycisk poniżej, aby wrócić do strony głównej.
                    </p>

                    <a class="btn btn-secondary btn-sm" href="/">Wróć do strony głównej</a>
                </div>
            </div>
        </div>
    </div>

    {% include '/blocks/block-space.twig' with {inputs: {layout: 'before-footer'}} %}
{% endblock %}


